<?xml version="1.0" encoding="utf-8"?>
<toolboxesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="5.4.4010.0">
		<toolboxes>
		...
		...
		</toolbox>
		<toolboxes>
		<toolbox name="PageLayouts">
			<sections>
				<add enabled="True" title="Twitter Bootstrap" description="Twitter Bootstrap v2.3 compatible layout regions" name="FalafelBootstrap">
					<tools>
						<add enabled="True" type="Telerik.Sitefinity.Web.UI.LayoutControl" title="TB 100%" description="1 Column (span12)" cssClass="sfL100" layoutTemplate="~/Bootstrap.Layouts/LayoutWidgets/Bootstrap1ColsSpan12.ascx" visibilityMode="None" name="Bootstrap1ColsSpan12" />
						<add enabled="True" type="Telerik.Sitefinity.Web.UI.LayoutControl" title="TB 33% + 67%" description="2 Columns (span4 + span8)" cssClass="sfL33_67" layoutTemplate="~/Bootstrap.Layouts/LayoutWidgets/Bootstrap2ColsSpan4-8.ascx" visibilityMode="None" name="Bootstrap2ColsSpan4-8" />
						<add enabled="True" type="Telerik.Sitefinity.Web.UI.LayoutControl" title="TB 50% + 50%" description="2 Columns (span6 + span6)" cssClass="sfL50_50" layoutTemplate="~/Bootstrap.Layouts/LayoutWidgets/Bootstrap2ColsSpan6-6.ascx" visibilityMode="None" name="Bootstrap2ColsSpan6-6" />
						<add enabled="True" type="Telerik.Sitefinity.Web.UI.LayoutControl" title="TB 67% + 33%" description="2 Columns (span8 + span4)" cssClass="sfL67_33" layoutTemplate="~/Bootstrap.Layouts/LayoutWidgets/BootStrap2ColsSpan8-4.ascx" visibilityMode="None" name="BootStrap2ColsSpan8-4" />
						<add enabled="True" type="Telerik.Sitefinity.Web.UI.LayoutControl" title="TB 33% + 33% + 33%" description="3 Columns (span4 + span4 + span4)" cssClass="sfL33_34_33" layoutTemplate="~/Bootstrap.Layouts/LayoutWidgets/Bootstrap3ColsSpan4-4-4.ascx" visibilityMode="None" name="Bootstrap3ColsSpan4-4-4" />
					</tools>
				</add>
			</sections>
		</toolbox>
		<toolboxes>
		...
		...
		</toolbox>
	</toolboxes>
</toolboxesConfig>